In [39]:
import numpy as np

lista = np.array(range(1, 101))


print(lista[1::2])

[  2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34  36
  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70  72
  74  76  78  80  82  84  86  88  90  92  94  96  98 100]

In [40]:
rng = np.random.default_rng(seed = 42)
funcionarios = ["João", "Washington", "Danielle", "Elizangela", "Chloe", "Blume", "Hanna", "Neguinha", "Norminha", "Scobby"]
array_funcionarios = np.array(funcionarios)
salarios = rng.integers(low = 1500, high = 5000, size = 10)
print(salarios)

[1812 4208 3791 3036 3015 4505 1800 3940 2205 1829]

In [41]:
media_salarios = np.mean(salarios)
print(media_salarios)

3014.1

In [42]:
salarios_acima_media = np.where(salarios > media_salarios)
print(salarios_acima_media)

(array([1, 2, 3, 4, 5, 7]),)

In [43]:
print(", ".join(array_funcionarios[salarios_acima_media]),"tem salarios acima da média!")

Washington, Danielle, Elizangela, Chloe, Blume, Neguinha tem salarios acima da média!

Teste...

In [48]:
sal_func = {"João" : 1500, "Danielle" : 2000, "Chloe" : 1800}
array_sal_func = np.array(sal_func)
print(array_sal_func)

{'João': 1500, 'Danielle': 2000, 'Chloe': 1800}