# Listas

<span style="color: red;"><b>Todos os exercícios são feitos partindo-se do pressuposto de que todas as entradas são dadas de forma correta. Casos limite não mencionados no enunciado não são abordados porque não fazem parte do exercício.</b></span>

#### 1. Faça um Programa que leia as vendas dos vendedores, mostre a venda de cada vendedor com o seu nome e a média de vendas.

In [7]:
vendas = [1000, 1500, 1200, 1300]
vendedores = ["Fulano", "Beltrano", "Ciclano", "Lira"]
total_vendas = sum(vendas)
for i, j in enumerate(vendas):
    print("vendedor: {}".format(vendedores[i]))
    print("Vendeu {} unidades.".format(j))
    print("{:.0f}% do total de vendas!".format((j * 100)/total_vendas))
    print("*" * 50)

vendedor: Fulano
Vendeu 1000 unidades.
20% do total de vendas!
**************************************************
vendedor: Beltrano
Vendeu 1500 unidades.
30% do total de vendas!
**************************************************
vendedor: Ciclano
Vendeu 1200 unidades.
24% do total de vendas!
**************************************************
vendedor: Lira
Vendeu 1300 unidades.
26% do total de vendas!
**************************************************

#### 2. Faça um Programa que crie uma lista com as médias de cada aluno, imprima as médias de cada aluno e a quantidade de alunos com média maior que 7.

In [11]:
alunos = ["José", "Joana", "Maria", "Carla", "Mauricio", "Andre", "Tiago", "Enzo", "Amanda", "Alessandra"]
notas = [
    [10, 9, 8, 8],
    [9, 7, 6, 4],
    [10, 10, 10, 10],
    [5, 3, 10, 9],
    [7, 6, 6, 6],
    [7, 7, 8, 7],
    [7, 7, 7, 9],
    [8, 5, 6, 7],
    [10, 9, 7, 4],
    [10, 1, 3, 3],
]
acima_media = 0

for nota, nome in enumerate (alunos):
    media = (sum(notas[nota])) / (len(notas[nota]))
    print("{} teve média: {}".format(nome, media))
    print("=" * 30)
    if media >= 7:
        acima_media += 1

if acima_media > 1:
    print("{} alunos tiveram média maior que 7!".format(acima_media))
else:
    print("{} aluno teve média maior que 7!".format(acima_media))

José teve média: 8.75
==============================
Joana teve média: 6.5
==============================
Maria teve média: 10.0
==============================
Carla teve média: 6.75
==============================
Mauricio teve média: 6.25
==============================
Andre teve média: 7.25
==============================
Tiago teve média: 7.5
==============================
Enzo teve média: 6.5
==============================
Amanda teve média: 7.5
==============================
Alessandra teve média: 4.25
==============================
5 alunos tiveram média maior que 7!

#### 3. Foram anotadas as idades e salários de 30 funcionários. Faça um programa que determine quantos funcionários com mais de 25 anos possuem salário inferior à média de todos os salários.

In [15]:
idades = [  35  ,32  ,50  ,33  ,48  ,50  ,33  ,48  ,22  ,49  ,35,  38  ,20  ,47 ,49  ,48  ,34  ,21  ,48  ,44  ,48  ,30  ,25  ,42  ,42  ,23  ,25  ,23,  38,  35]
salarios = [3739,2219,3554,3978,4014,3270,4792,3879,2981,2384,4826,2460,3680,4318,1872,1770,4640,3929,3295,1729,3965,4267,4007,1916,2987,2943,3852,4543,2055,1730]
media = (sum(salarios)) / (len(salarios))
print ("A média entre todos os salários é: {}".format(media))
salario_abaixo = 0
for i, salary in enumerate (salarios):
    if idades[i] >= 25 and salary < media:
        salario_abaixo += 1

print("{} funcionários com mais de 25 anos estão recebendo um salário abaixo da média!".format(salario_abaixo))

A média entre todos os salários é: 3319.8
12 funcionários com mais de 25 anos estão recebendo um salário abaixo da média!

#### 4.Em quais meses a média de temperatura foi maior do que a média nacional?

In [22]:
meses = [
    'Janeiro',
    'Fevereiro',
    'Março',
    'Abril',
    'Maio',
    'Junho',
    'Julho',
    'Agosto',
    'Setembro',
    'Outubro',
    'Novembro',
    'Dezembro'
]

temperaturas = [30, 29, 28, 28, 25, 26, 20, 21, 19, 25, 27, 32]
media = (sum(temperaturas)) / (len(temperaturas))
print("A média nacional de temperatura foi: {:.2f}° Graus celsius.\n".format(media))
for m, temp in enumerate(temperaturas):
    if temp > media:
        print("O mês de {} teve temperatura de {}° graus celsius que é maior que os {:.2f}° graus de temperatura média!".format(meses[m],temp,media))
        print ("=" * 115)

A média nacional de temperatura foi: 25.83° Graus celsius.

O mês de Janeiro teve temperatura de 30° graus celsius que é maior que os 25.83° graus de temperatura média!
===================================================================================================================
O mês de Fevereiro teve temperatura de 29° graus celsius que é maior que os 25.83° graus de temperatura média!
===================================================================================================================
O mês de Março teve temperatura de 28° graus celsius que é maior que os 25.83° graus de temperatura média!
===================================================================================================================
O mês de Abril teve temperatura de 28° graus celsius que é maior que os 25.83° graus de temperatura média!
===================================================================================================================
O mês de Junho teve temperatura de 26° graus celsius que é maior que os 25.83° graus de temperatura média!
===================================================================================================================
O mês de Novembro teve temperatura de 27° graus celsius que é maior que os 25.83° graus de temperatura média!
===================================================================================================================
O mês de Dezembro teve temperatura de 32° graus celsius que é maior que os 25.83° graus de temperatura média!
===================================================================================================================

#### 5. As Organizações Tabajara resolveram dar um abono aos seus colaboradores em reconhecimento ao bom resultado alcançado durante o ano que passou. Para isto contratou você para desenvolver a aplicação que servirá como uma projeção de quanto será gasto com o pagamento deste abono.
<pre>Após reuniões envolvendo a diretoria executiva, a diretoria financeira e os representantes do sindicato laboral, chegou-se a seguinte forma de cálculo:
. Cada funcionário receberá o equivalente a 20% do seu salário bruto de dezembro;
. O piso do abono será de 100 reais, isto é, aqueles funcionários cujo salário for muito baixo, recebem este valor mínimo; 

Neste momento, não se deve ter nenhuma preocupação com colaboradores com tempo menor de casa, descontos, impostos ou outras particularidades. O programa deverá calcular o valor do abono concedido a cada colaborador, de acordo com a regra definida acima. Ao final, o programa deverá apresentar:</pre>
<pre>
O salário de cada funcionário, juntamente com o valor do abono;
O número total de funcionário processados;
O valor total a ser gasto com o pagamento do abono;
O número de funcionário que receberá o valor mínimo de 100 reais;
O maior valor pago como abono; A tela abaixo é um exemplo de execução do programa, apenas para fins ilustrativos.
<pre>
Projeção de Gastos com Abono
============================ 
 
Salário: 1000
Salário: 300
Salário: 500
Salário: 100
Salário: 4500
Salário: 0
 
Salário    - Abono     
R$ 1000.00 - R$  200.00
R$  300.00 - R$  100.00
R$  500.00 - R$  100.00
R$  100.00 - R$  100.00
R$ 4500.00 - R$  900.00
 
Foram processados 5 colaboradores
Total gasto com abonos: R$ 1400.00
Valor mínimo pago a 3 colaboradores
Maior valor de abono pago: R$ 900.00

In [34]:
lista_salarios = [1000, 300, 500, 200, 1500, 3000, 3400, 5000, 7000, 2000, 600, 800, 250, 1500, 20000]
abonos = []
qtd_abono_minimo = 0
maior_abono = 0
qtd_processada = 0 
valor_gasto = 0
#percorrer a lista de salarios.
for i in lista_salarios:
    #define valor do abono para o salario no indice i
    valor_abono = i * 0.2
    #verifica se o valor do abono está dentro das condições pedidas
    if valor_abono < 100:
        #acrescenta +1 a variavel qtd_abono_minimo.
        qtd_abono_minimo += 1
        #corrige o valor do abono que o funcionário deverá receber
        valor_abono = 100
        #soma a quantidade ao valor total gasto
        valor_gasto += valor_abono
        #acrescenta o avlor do abono a lista de abonos
        abonos.append(valor_abono)
        #verifica se o valor do abono é o maior abono registrado.
        if valor_abono > maior_abono:
            maior_abono = valor_abono
    else:
        #verifica se o valor do abono é o maior abono registrado.
        if valor_abono > maior_abono:
            maior_abono = valor_abono
        #soma ao valor total gasto com abonos
        valor_gasto += valor_abono
        #acrescenta a lista de abonos
        abonos.append(valor_abono)
    #Ao final do processo, soma + 1 a quantidade de salários/funcionários processados
    qtd_processada += 1

for i, abono in enumerate(abonos):
    print("Salário: R${:.2f} | Abono: R${:.2f}!".format(lista_salarios[i], abono))
    print("-" * 40)

print("\nForam processados no total {} colaboradores/salários".format(qtd_processada))
print("\nTotal gasto com abonos: R${:.2f}".format(valor_gasto))
print("\nAbono minímo pago a {} colaboradores".format(qtd_abono_minimo))
print("\nMaior valor de abono pago foi: R${:.2f}".format(maior_abono))

Salário: R$1000.00 | Abono: R$200.00!
----------------------------------------
Salário: R$300.00 | Abono: R$100.00!
----------------------------------------
Salário: R$500.00 | Abono: R$100.00!
----------------------------------------
Salário: R$200.00 | Abono: R$100.00!
----------------------------------------
Salário: R$1500.00 | Abono: R$300.00!
----------------------------------------
Salário: R$3000.00 | Abono: R$600.00!
----------------------------------------
Salário: R$3400.00 | Abono: R$680.00!
----------------------------------------
Salário: R$5000.00 | Abono: R$1000.00!
----------------------------------------
Salário: R$7000.00 | Abono: R$1400.00!
----------------------------------------
Salário: R$2000.00 | Abono: R$400.00!
----------------------------------------
Salário: R$600.00 | Abono: R$120.00!
----------------------------------------
Salário: R$800.00 | Abono: R$160.00!
----------------------------------------
Salário: R$250.00 | Abono: R$100.00!
----------------------------------------
Salário: R$1500.00 | Abono: R$300.00!
----------------------------------------
Salário: R$20000.00 | Abono: R$4000.00!
----------------------------------------

Foram processados no total 15 colaboradores/salários

Total gasto com abonos: R$9560.00

Abono minímo pago a 3 colaboradores

Maior valor de abono pago foi: R$4000.00

#### 6. Faça um programa que carregue uma lista com os modelos de cinco carros (exemplo de modelos: FUSCA, GOL, VECTRA etc). Carregue uma outra lista com o consumo desses carros, isto é, quantos quilômetros cada um desses carros faz com um litro de combustível. Calcule e mostre:
<pre>
a. O modelo do carro mais econômico;
b. Quantos litros de combustível cada um dos carros cadastrados consome para percorrer uma distância de 1000 quilômetros e quanto isto custará, considerando um que a gasolina custe R$ 2,25 o litro. Abaixo segue uma tela de exemplo. O disposição das informações deve ser o mais próxima possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa.</pre>
```
Comparativo de Consumo de Combustível

Veículo 1
Nome: fusca
Km por litro: 7
Veículo 2
Nome: gol
Km por litro: 10
Veículo 3
Nome: uno
Km por litro: 12.5
Veículo 4
Nome: Vectra
Km por litro: 9
Veículo 5
Nome: Peugeout
Km por litro: 14.5

Relatório Final
 1 - fusca           -    7.0 -  142.9 litros - R$ 321.43
 2 - gol             -   10.0 -  100.0 litros - R$ 225.00
 3 - uno             -   12.5 -   80.0 litros - R$ 180.00
 4 - vectra          -    9.0 -  111.1 litros - R$ 250.00
 5 - peugeout        -   14.5 -   69.0 litros - R$ 155.17
O menor consumo é do peugeout.
```

In [56]:
print('Comparativo de Consumo de Combustível')
print('+' * 37)
veiculos = ['fusca',' gol', 'uno', 'vectra', 'peugeot']
autonomias = [7, 10, 12.5, 9, 14.5]
consumo_trajeto = []
preco_consumo = []

for i in range (len(autonomias)):
    consumo_trajeto.append(round(1000/autonomias[i], 1))
    preco_consumo.append(round(consumo_trajeto[i] * 2.25, 2))
    print("Veículo {}".format(i+1))
    print('Nome: {}'.format(veiculos[i]))
    print('Consumo(KM/L): {}'.format(autonomias[i]))
    print('=' * 30)
    
print('\nRelatório Final\n')
for i, carro in enumerate(veiculos):
    print('{} - O {} tem consumo médio de {}KM por litro. Portanto gastará {}L de gasolina para percorrer 1.000KM, custando R${}.'.format(i+1, carro, autonomias[i], consumo_trajeto[i], preco_consumo[i]))
    print('*' * 130)
print('Portanto podemos dizer que o {} é o carro mais ecônomico!'.format(veiculos[consumo_trajeto.index(min(consumo_trajeto))]))

Comparativo de Consumo de Combustível
+++++++++++++++++++++++++++++++++++++
Veículo 1
Nome: fusca
Consumo(KM/L): 7
==============================
Veículo 2
Nome:  gol
Consumo(KM/L): 10
==============================
Veículo 3
Nome: uno
Consumo(KM/L): 12.5
==============================
Veículo 4
Nome: vectra
Consumo(KM/L): 9
==============================
Veículo 5
Nome: peugeot
Consumo(KM/L): 14.5
==============================

Relatório Final

1 - O fusca tem consumo médio de 7KM por litro. Portanto gastará 142.9L de gasolina para percorrer 1.000KM, custando R$321.53.
**********************************************************************************************************************************
2 - O  gol tem consumo médio de 10KM por litro. Portanto gastará 100.0L de gasolina para percorrer 1.000KM, custando R$225.0.
**********************************************************************************************************************************
3 - O uno tem consumo médio de 12.5KM por litro. Portanto gastará 80.0L de gasolina para percorrer 1.000KM, custando R$180.0.
**********************************************************************************************************************************
4 - O vectra tem consumo médio de 9KM por litro. Portanto gastará 111.1L de gasolina para percorrer 1.000KM, custando R$249.97.
**********************************************************************************************************************************
5 - O peugeot tem consumo médio de 14.5KM por litro. Portanto gastará 69.0L de gasolina para percorrer 1.000KM, custando R$155.25.
**********************************************************************************************************************************
Portanto podemos dizer que o peugeot é o carro mais ecônomico!

#### 7. Uma empresa paga seus vendedores com base em comissões. O vendedor recebe \\$200 por semana mais 9 por cento de suas vendas brutas daquela semana. Por exemplo, um vendedor que teve vendas brutas de \\$3000 em uma semana recebe \\$200 mais 9 por cento de \\$3000, ou seja, um total de \\$470. Escreva um programa (usando um array de contadores) que determine quantos vendedores receberam salários nos seguintes intervalos de valores:
<pre>
$200 - $299
$300 - $399
$400 - $499
$500 - $599
$600 - $699
$700 - $799
$800 - $899
$900 - $999
$1000 em diante
</pre>

Existem várias formas de fazer. Faça primeiro da forma que parecer mais intuitiva para você.

Em seguida, caso queira um desafio:
Desafio: Crie uma forma para chegar na posição da lista a partir do salário, sem fazer vários ifs aninhados.

In [59]:
vendas = [1000, 2000, 3000, 4000, 5000, 6000, 5500, 4500, 3600]
salarios = []
for i in vendas:
    salarios.append((i*0.09)+200)

[290.0, 380.0, 470.0, 560.0, 650.0, 740.0, 695.0, 605.0, 524.0]